.inputSubmitContainer{
    margin: 10px 0px 10px 10px;
}
.inputSubmit{
    width: 190px;
    height: 65px;
    font-size: var(--fontSizeHeader);
    font-weight: var(--fontWeightBold);
    color: var(--darkGreen);
    background-color: var(--orange);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--darkGreen);
    box-shadow: 0 0 10px var(--orangeShadow);
    cursor: pointer;
}

@media (max-width: 768px) {
    .inputSubmitContainer{
        margin: 3px 0px 3px 3px;
    }
    .inputSubmit{
        width: 90px;
        height: 40px;
        font-size: var(--fontSizeDeafault);
        font-weight: var(--fontWeightSemiBold);
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 1px solid var(--darkGreen);
        box-shadow: 0 0 10px var(--orangeShadow);
        cursor: pointer;
    }

}