.tileContainer{
    width: 165px;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(152deg, var(--white) 17.56%, var(--lightGreen) 64.22%);
    border-radius: 20px;
    border: 1px solid var(--darkGreen);
    margin: 5px;
}
.icon{
    width: 100px;
    height: 100px;
}
.stepNumber{
    text-align: center;
    font-size: var(--fontSizeNavigationButton);
    font-weight: var(--fontWeightSemiBold);

}
.stepShortDescription{
    text-align: center;
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightSemiBold);
}

@media (max-width: 768px) {
    .tileContainer{
        width: 150px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(152deg, var(--white) 17.56%, var(--lightGreen) 64.22%);
        border-radius: 20px;
        border: 1px solid var(--darkGreen);
        margin: 5px;
    }
    .icon{
        width: 45px;
        height: 45px;
    }
    .stepNumber{
        text-align: center;
        font-size: var(--fontSizeDeafault);
        font-weight: var(--fontWeightSemiBold);

    }
    .stepShortDescription{
        text-align: center;
        font-size: var(--fontSizeDeafault);
        font-weight: var(--fontWeightSemiBold);
    }

}