.swiperContainer {
    width: 50%;
    display: flex;
    align-items: center;
margin: 10px;
}

.swiperContainer :global(.swiper-slide){
    height: 500px;
}

.swiperContainer .swiperSlide {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid var(--darkGreen);
}

.swiperContainer button {
    width: 35px;
    margin: 10px;
    background-color: transparent;
    border: none;

}
.buttonsContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.prev{
    width: 35px;
    height: 35px;
    rotate: 180deg;
}
.next{
    width: 35px;
    height: 35px;
}
