.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    justify-content: flex-start;
}
.pageContainer{
    width: 1200px;
    display: flex;
    flex-direction: column;
}
.buttonContainer{
    display: flex;
    flex-direction: row-reverse;
}