.serviceDescriptionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    height: 50px;
    background-color: var(--green);
    border-radius: 20px;
    border: 1px solid var(--darkGreen);
    margin: 20px;
    padding: 20px;
    align-items: center;
}
.serviceLabel{
    color: var(--white);
    font-size: var(--fontSizeNavigationButton);
    font-weight: var(--fontWeightSemiBold);

}
.servicePrice{
    color: var(--white);
    font-size: var(--fontSizeNavigationButton);
    font-weight: var(--fontWeightSemiBold);
}