.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.contentContainer{
    display: flex;
    flex-direction: column;
    width: 1200px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.informationAboutLensesManufacturersContainer{
    border-radius: 20px;
    border: 1px solid var(--darkGreen);
    margin: 85px;
}
.lensesManufacturersButtonsContainer{
    display: flex;
}
.specialOfferImagesContainer{
    display: flex;
}
.availableServicesContainer{
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--darkGreen);
    margin: 85px;
}
.revervationOfEyeTestTermin{
    margin: 35px;
}

@media (max-width: 768px) {
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .contentContainer{
        display: flex;
        flex-direction: column;
        width: 400px;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
    .informationAboutLensesManufacturersContainer{
        border-radius: 20px;
        border: 1px solid var(--darkGreen);
        margin: 5px;
    }
    .lensesManufacturersButtonsContainer{
        display: flex;
    }
    .specialOfferImagesContainer{
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .availableServicesContainer{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        border: 1px solid var(--darkGreen);
        margin: 5px;
    }
    .revervationOfEyeTestTermin{
        margin: 5px;
    }
}