.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.specialtiesContainer{
    width:1200px;
    display: flex;
    justify-content: space-around;
}
.lensesDescription{
    width:1200px;
    font-size: var(--fontSizeMiddle);
    font-weight: var( --fontWeightSemiBold);
    text-align: justify;
    text-indent: 40px;
    margin: 10px;
}
.lensesManufacturersButtonsContainer{
    display: flex;
}