.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.contentContainer{
    flex-grow: 1;
    width: 1200px;
    display: flex;
    flex-direction: column;

}
.lensesDescriptionText{
    font-weight: var( --fontWeightSemiBold);
    font-size: var(--fontSizeMiddle);
    text-align: justify;
    text-indent: 40px;
}
.imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lensImg{
    width: 420px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid var(--darkGreen);
}
.officeLenses{
    width: 740px;
    height: 400px;
    border-radius: 20px;
    border: 1px solid var(--darkGreen);
}
.progressiveLens{
    width: 420px;
    height: 300px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid var(--darkGreen);
}
.footer{

}

@media (max-width: 768px) {
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
    }
    .contentContainer{
        flex-grow: 1;
        width: 400px;
        display: flex;
        flex-direction: column;

    }
    .lensesDescriptionText{
        font-weight: var( --fontWeightSemiBold);
        font-size: var(--fontSizeDeafault);
        text-align: justify;
        text-indent: 20px;
    }
    .imgContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .lensImg{
        width: 280px;
        height: 180px;
        border-radius: 20px;
        border: 1px solid var(--darkGreen);
    }
    .officeLenses{
        width:300px;
        height: 200px;
        border-radius: 20px;
        border: 1px solid var(--darkGreen);
    }
    .progressiveLens{
        width: 280px;
        height: 180px;
        margin: 10px;
        border-radius: 20px;
        border: 1px solid var(--darkGreen);
    }
}
