.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contentContainer{
    width: 1200px;
}
.eyeTestDescriptionContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.eyeTestGeneralDescriptionContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
}
.iconContainer{
    width: 100px;
    height: 100px;
}
.generalDescriptionImage{
    width: 100px;
    height: 100px;
}
.descriptionContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
    text-indent: 40px;
    font-size: var(--fontSizeMiddle);
    font-weight: var(--fontWeightSemiBold);
}
.stepsDescriptionContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.priceListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.descriptionText{
    width: 800px;
    margin: 10px;
}
.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}