:root {
  --white: #FBF6F0;
  --green: #346112;
  --orange: #FA813D;
  --darkOrange: #EE5E0D;
  --lightGreen: #92D45F;
  --orangeShadow:#392d29;
  --darkGreen:#204007;
  --fontSizeDeafault: 14px;
  --fontSizeNavigationButton: 20px;
  --fontSizeMiddle: 18px;
  --fontSizeSmall: 12px;
  --fontSizeHeader: 24px;
  --fontWeightBold: 700;
  --fontWeightSemiBold: 550;
  --fontWeightNormal: 400;
  --fontFamily: Inter;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--white);
  font-size: var(--fontSizeDeafault);
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  color: var(--darkGreen);
  display: flex;
  justify-content: center;
}
p{
  color: var(--darkGreen);
}

