.tileContainer{
    margin: 5px;
    display: flex;
    width:360px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--darkGreen);
}
.video{
    margin: 5px;
    width: 270px ;
    height: 355px;
}
.storeShortName{
    width:360px;
    height: 100%;
    text-align: center;
    word-wrap: break-word;
    font-size: var(--fontSizeNavigationButton);
}
.contactInformationItemContainer{
    display: flex;
    align-items: center;
    margin: 5px;
}
.itemImage{
    width:35px;
    height: 35px;
    cursor: pointer;
}
.itemDescription{
    width:260px;
    margin: 5px;
    font-weight: var(--fontWeightSemiBold);
    word-wrap: break-word;
}